.methodsynopsis,
.phpcode {
  background: #3f3f3f;
  border-radius: 8px;
  color: #9f9d6d;
  font-size: 18px;
  padding: 16px;
}

.methodsynopsis .type {
  color: #dfc47d;
  font-weight: bold;
}

.methodsynopsis .methodname {
  color: #dcdccc;
}

.methodsynopsis .parameter {
  color: #cedf99;
  font-weight: bold;
}

.methodsynopsis .initializer {
  color: #cc9393;
}
