.form-login {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  padding: 16px;
  max-width: 320px;
  min-width: 240px;
  width: 320px;
}

.form-login .form-login-heading {
  margin-top: 0;
}

.form-login .forgot {
  float: right;
}

.form-login fieldset {
  margin-bottom: 16px;
}

.form-login input[type=email],
.form-login input[type=password] {
  display: block;
  margin-top: 4px;
  width: 100%;
}

.form-login .error {
  color: #ff7070;
  margin-top: 4px;
  line-height: 16px;
}

.form-login .error > .exclamation-sign {
  background: #ff7070;
  border-radius: 16px;
  color: #fff;
  width: 16px;
  height: 16px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.form-login .btn {
  width: 100%;
}

.divider {
  line-height: 0;
  margin: 32px 0 16px;
  position: relative;
  text-align: center;
}

.divider:after {
  background-color: transparent;
  border-top: 1px solid #eee;
  content: "";
  display: block;
  height: 1px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
}

.divider h5 {
  background-color: #fff;
  color: #666;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0 8px 0 7px;
  position: relative;
  z-index: 2;
}

.form-login .reset-password {
  float: right;
}

