<?php

return [
    'dsn' => 'mysql:unix_socket=/var/run/mysqld/mysqld.sock;dbname=renderpage',
    'username' => 'renderpage',
    'password' => '',
    'charset' => 'utf8mb4',
    'tablePrefix' => ''
];
